/* Global styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Light gray background */
}

/* Container for the entire Tools component */
.tools-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
   
}

.navbar1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(18, 29, 51); /* Set navbar background color */
    height: 100vh; /* Fill the viewport height */
    width: 130px; /* Set fixed width */
    position: fixed;
    left: 0; /* Align to the left side */
}

.navbar1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

.navbar1 li {
    padding-top: 70px; /* Add top padding to each list item */
}

.navbar1 li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar1 li a:hover {
    color: #ffc107; /* Yellow color on hover */
    text-decoration: underline;
}


/* Main Content Styles */
.tools-content {
    max-width: 800px;
    padding: 20px;
}

.section-title {
    color: #008080; /* Turquoise color */
    text-align: center;
    margin-bottom: 30px;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #008080;
    font-size: 24px;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.card-content {
    flex: 1;
}

.card:hover {
    transform: translateY(-5px);
}
