*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: rgb(18, 29, 51);
    position: sticky;
    top:0;
}

.navbar .logo{
    display: flex;
    justify-content: left;
    align-items:left;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

<<<<<<< HEAD
.navbar1 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-between; /* Align items with space between them */
    text-align: center;
    background-color:rgb(18, 29, 51); /* Set navbar background color */
    height: 100vh; /* Fill the viewport height */
    width: 130px; /* Set fixed width */
    padding: 20px; /* Add padding to navbar */
    position: fixed;
}

.navbar1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

.navbar1 li {
    margin-bottom: auto; /* Distribute space evenly */
   padding-top:70px ;
    
}

.navbar1 li a {
    color: #fff; /* Set link color */
    text-decoration: none;
    font-size: 18px; /* Set font size */
}

.navbar1 li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

=======
>>>>>>> 129bf1f5862b4d8111d8cb34ddd5631c87f2e670
