*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


.navbar{
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: rgb(18, 29, 51);
    position: sticky;
    top:0;
}

.navbar .logo{
    display: flex;
    justify-content: left;
    align-items:left;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.navbar1 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    background-color:rgb(18, 29, 51);
    height: 100vh;
    width: 130px;
    padding: 20px; 
    position: fixed;
}

.navbar1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar1 li {
    margin-bottom: auto; 
   padding-top:70px ;
    
}

.navbar1 li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
}

.navbar1 li a:hover {
    text-decoration: underline; 
}

.img{
   
   margin: 0px 0.1px;
   width: 300px;
   height: 500px;
   padding: 50px;


   border: black solid;

   
}
.slick-side>div{
    margin: 0 10px;         
}


.sidediv{
    margin: 150px;
}